@{

    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title> Party! </title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>

<body>
    <div class="text-center">
        <
            <h1> We're going to have an exciting party. </h1>
            <h4> And YOU are invited! </h4>
            <a asp-action="RsvpForm" class="btn- sm btn-danger">
                RSVP Now
            </a>

        </div>
</body>
</html>

